.topBar{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom-style: solid;
    padding: 0 0 15px 0;
}

.title{
    padding: 15px 0 0 15px;
}

.login{
    padding: 15px 15px 0 0;
}

.carousel{
    margin: 100px 0 0 0;
    border-style: solid;
    height: 400px;
    
}

.image{
    align-self: center;
}